body {
  background-image: url(./aditya-vyas-5qUJfO4NU4o-unsplash.jpg);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: goldenrod;
  font-size: 3em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

a {
  color: red;
}

h2 {
  color: rgb(139, 235, 183);
  font-size: 2em;
}

code {
  font-size: 2em;
}

#link_to_github {
  color: white;
  font-size: 1em;
}

#explanation {
  color: white;
}